header {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.wrapper {
  padding: 0px 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  color: white;
  height: 35px;
  background-color: #009879;
}

.table__row {
  height: 35px;
}
.table__line {
  border-bottom: 1px solid #e5e5e5;
}

.end__line {
  border-top: 2px solid #009879;
}

.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous,
.next {
  color: white;
  background-color: #009879;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 0px 20px;
  cursor: pointer;
}

.page__number {
  text-align: center;
  width: 15px;
  color: white;
  background-color: #009879;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
